[build]
builder = "DOCKERFILE"
dockerfilePath = "apps/web/Dockerfile"
buildContext = "../../"

[deploy]
healthcheckPath = "/"
healthcheckTimeout = 100
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
